// class
// subroutineDec
// parameterList
// END parameterList
// subroutineBody
function Main.main 0
<statements>
<doStatement>
<expressionList>
<expression>
<term>
<integerConstant>1</integerConstant>
</term>
<term>
<expression>
<term>
<integerConstant>2</integerConstant>
</term>
<term>
<integerConstant>3</integerConstant>
</term>
</expression>
</term>
</expression>
</expressionList>
</doStatement>
<returnStatement>
</returnStatement>
</statements>
  // END subroutineBody
  // END subroutineDec
  // END class
